.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }

  .modal-content {
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 400px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }

  .modal-content input[type="number"] {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }

  .modal-content button {
    padding: 10px 15px;
    margin: 5px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    color: black;
    cursor: pointer;
    background-color: #cfcfcf;
  }

  .modal-content button:hover {
    background-color: #cfcfcf;
  }

  .readingList button{
    margin: 5px 0;
    width: 35%;
    padding: 10px;
    background-color: #cfcfcf;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }

  .modal-overlay button{
    margin: 5px 0;
    width: 50%;
    padding: 10px;
    background-color: #cfcfcf;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 5px;
  }
  


  